@keyframes infiniteupdown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}

.footer-button button {
  animation-name: infiniteupdown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
